main,
:root {
  background-color: rgb(39, 43, 51);
}

ul {
  list-style: none;
}

.paginacion {
  display: flex;
  color: white;
  font-weight: bold;
}

.paginacion li:hover {
  color: rgb(255, 152, 0);
  border-bottom: 2px solid rgb(255, 152, 0);
}

.paginacion > li {
  display: flex;
  align-items: center;
  margin: 0 0.4rem;
}

.btn-custom,
.previous,
.next {
  cursor: pointer;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border: 1px solid rgb(255, 152, 0);
  background-color: white;
  transition: all 0.1s ease 0s;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.previous > a,
.next > a {
  text-decoration: none;
  color: rgb(51, 51, 51) !important;
}

.paginacion > .disabled {
  pointer-events: none;
  background-color: grey;
  border: 1px solid rgb(145, 88, 4);
}

.paginacion > .selected {
  color: rgb(255, 152, 0);
}

.btn-custom:hover,
.previous:hover {
  background-color: rgb(255, 152, 0);
  color: white;
}

.input-buscar {
  width: 90%;
  max-width: 900px;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.input-buscar::placeholder,
.input-buscar:focus,
.input-buscar {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.4rem;
}

.resultados > p {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .paginacion {
    padding: 0;
  }
  .paginacion,
  .btn-custom,
  .previous,
  .next {
    font-size: 2.4vw;
    padding: 2vw;
  }
}
