main,
:root {
  background-color: rgb(39, 43, 51);
}

ul {
  list-style: none;
}

.paginacion {
  display: flex;
  color: white;
  font-weight: bold;
}

.paginacion li:hover {
  color: rgb(255, 152, 0);
  border-bottom: 2px solid rgb(255, 152, 0);
}

.paginacion > li {
  display: flex;
  align-items: center;
  margin: 0 0.4rem;
}

.btn-custom,
.previous,
.next {
  cursor: pointer;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border: 1px solid rgb(255, 152, 0);
  background-color: white;
  transition: all 0.1s ease 0s;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.previous > a,
.next > a {
  text-decoration: none;
  color: rgb(51, 51, 51) !important;
}

.paginacion > .disabled {
  pointer-events: none;
  background-color: grey;
  border: 1px solid rgb(145, 88, 4);
}

.paginacion > .selected {
  color: rgb(255, 152, 0);
}

.btn-custom:hover,
.previous:hover {
  background-color: rgb(255, 152, 0);
  color: white;
}

.input-buscar {
  width: 90%;
  max-width: 900px;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.input-buscar::placeholder,
.input-buscar:focus,
.input-buscar {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.4rem;
}

.resultados > p {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.container-cargando {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.progress {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  height: 2rem !important;
}

.progress-bar {	
	background-color: #ee303c;  
  border-radius: 4px; 
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-striped .progress-bar { 	
  background-color: #FCBC51; 
  background-image: linear-gradient(
        45deg, rgb(252,163,17) 25%, 
        transparent 25%, transparent 50%, 
        rgb(252,163,17) 50%, rgb(252,163,17) 75%,
        transparent 75%, transparent); 
  transition: 1s all ease-in-out;
}

.numero-carga {
  position: absolute;
  left: 48%;
  font-weight: bold;
  font-size: 1.4rem;
  color: black;
}

.filtros>div {
  width: max-content;
}

.filtros>div>select, .filtros>div>select option {
  margin: 0px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    border: 1px solid rgb(255, 152, 0);
    background-color: white;
    color: rgb(51, 51, 51);
    transition: all 0.1s ease 0s;
    width: 8rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 800;
}

select#filtro-por-editorial option[value="DC Comics"] {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/2560px-Marvel_Logo.svg.png");
}

@media (max-width: 500px) {
  .paginacion {
    padding: 0;
  }
  .paginacion,
  .btn-custom,
  .previous,
  .next {
    font-size: 2.4vw;
    padding: 2vw;
  }
}
